<h1>Employee List</h1>

<%= link_to 'Add a New Employee', new_employee_path%>
<br><br>

   <% @employees.each do |employee| %> 
        <p><%= employee.first_name %></p>
        <p><%= employee.last_name %> </p>
        <p><%= "%.2f" % employee.salary %> </p>
        <p>==================================</p>
   <% end %>